@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Rye&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:  url('img/bg2.jpg') no-repeat center center/cover;
    background-blend-mode: overlay;
}

.container{
    position: relative;
    height: 100vh;
    margin: auto;
    opacity: 0.7;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.quote{
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 4;
    pointer-events: none;
}
.gradient{
    position: absolute;
    top:0;
    height: 100vh;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(to top, #000, rgb(49, 49, 49), rgb(133, 131, 131), #000);
    opacity: 0.5;
}
.gradient-two{
    position: absolute;
    top:0;
    height: 100vh;
    z-index: 12;
    pointer-events: none;
    background: url('./img/158850.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.running-bg{
    position: absolute;
    top:0;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
    opacity: 0.9; 
	background-image: url('./img/moving.jpg');
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 15s linear infinite;
}
.quote p{
    font-family: 'Rye', cursive;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 10rem;
    padding: 50px;
    color: rgb(11, 12, 11);
    text-shadow: 3px 3px 10px rgb(2, 48, 2);
}
.icon, .icon-two{
    color: rgb(204, 206, 204);
    position: absolute;
    top: 20px;
    z-index: 10;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes bgopacity{
    form{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
